:root {
--main-col: rgb(152, 120, 182);
--sec-color: rgb(240, 233, 29);
--third-col: rgb(234, 232, 236);
}


* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Style for main wrapper */
#wrapper {
    border: 2px solid black;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;

}
/* Style for welcome msg container */
#splashDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Start button style */
#start-btn {
    margin-top: 20px;
}
/* main game div included initials entering screen */
#gameDiv {
    display: flex;
    width: 400px;
    flex-direction: column;

}
/* header withi #gameDiv */
#gameHeader {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
 
}
/* div used to nest questions and answers during game */
#qaDiv {
    display: flex;
    flex-direction: column;

}
/* div used to nest form data on results page */
#formDiv {
    display: flex;
    justify-content: space-between;

}
/* Part of endgame page */
#createLabel {
    margin-top: 20px;
}
/* Part of endgame page */
#initials {
    width: 300px;
    height: 30px;
    background-color: rgb(191, 185, 194);
}
/* Part of endgame page */
#submit {
    max-width: 100px;
}

/* answers for quiz */
#questionRender li {
    float: left;
    clear: left;
    padding: 3px;
    margin: 2px;
    border-radius: 5px;
    background-color: var(--main-col);
    
}

#questionRender li:hover {
    background-color: var(--sec-color);
}

button {
    background-color: var(--main-col);
    font-size: larger;
    padding: 5px;
    border-radius: 5px;
}
button:hover {
    background-color: var(--sec-color);
}

#resultDiv {
    margin-top: 10px;
    font-size: larger;
}



/* Styles for hi-score page */
#scores {
    display: flex;
    flex-direction: column;
}

#highScore li {
    list-style-type: none;
    padding: 5px;
    margin: 5px;
    background: var(--main-col);
}

#highScore li:nth-child(even) {
    background: var(--third-col);
}